@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Patua+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: bisque;
  }

  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup{
    background-color: white;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding-top: 10vh;
    padding-bottom: 8vh;
  }

  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title h1{
    font-family: Patua One;
    color: #687DAC;
  }

  .title p{
    font-family: Maven Pro;
  }

  .personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottom button{
    background-color: #D2E0EE;
    display: block;
    color: #687DAC;
    font-family: Maven Pro;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
    border: none;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }

  .bottom button:hover{
    background-color: #697DAC;
    color: white;
  }
  
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
  }

  .account input{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 1.2vh;
    outline: none;
    box-shadow: 1px 1px 5px 1px #D2E0EE;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom: 30px;
    width: 17vw;
  }

  .account h1{
    font-family: Patua One;
    color: #687DAC;
    font-size: medium;
  }

  .personal input{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 1.2vh;
    outline: none;
    box-shadow: 1px 1px 5px 1px #D2E0EE;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin-bottom: 30px;
    width: 17vw;
  }

  .personal h1{
    font-family: Patua One;
    color: #687DAC;
    font-size: medium;
  }

  .bottom p{
    font-family: Maven Pro;
  }

  .bottom a{
    font-family: Maven  Pro;
    text-decoration: none;
    color: #687DAC;
    font-weight: 600;
  }

  .bot_text{
    display: flex;
    padding-top: 2vh;
  }

  .popup .closebtn{
    cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  top: 0.5vw;
  right: 1vw;
  position: absolute;
  }