* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

:root {
  /* Color variables */
  --black-color: #000000;
  --white-color: #fbfbfb;
  --darkblue-color: #687dac;
  --lightblue-color: #d2e0ee;
  --midblue-color: #9eb0ce;
  --sand-color: #f0d7ba;
  --grey-color: #757575;

  /* Font variables */
  --headings-font: "Patua One", cursive;
  --text-font: "Maven Pro", sans-serif;

  /* Size variables */
  --navigationtext-size: 1.1vw;
  --bold-font: 600;
  --semibold-font: 400;
  --title-size: 2.5vw;
  --regular-font: 100;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  font-size: var(--navigationtext-size);
  font-family: var(--text-font);
  font-weight: var(--bold-font);
  overflow: hidden;
  padding-block: 0.3vw;
}

.navigation-menu {
  font-size: var(--navigationtext-size);
  margin-left: 2.5vw;
}

.navigation-menu ul {
  display: flex;
  align-items: center;
}

.navigation-menu li {
  list-style: none;
  transition: transform 0.5s ease;
}

.navigation-menu li a {
  text-decoration: none;
  color: var(--darkblue-color);
  padding: 0 1vw;
}

.navigation-menu img {
  height: 3vw;
}

.navigation-login ul {
  display: flex;
}

.navigation-login li {
  list-style: none;
  transition: transform 0.5s ease;
}

.navigation-login li a {
  display: block;
  text-decoration: none;
  color: var(--darkblue-color);
  padding: 0 1vw;
  margin-right: 2.5vw;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Home Page */

/* Home Main */

.home-container {
  padding: 5vw 0 0vw;
  display: flex;
  align-items: center;
  gap: 7vw;
  justify-content: center;
  width: auto;
  height: 30vw;
}

.home-data {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.home-title {
  font-size: 3.5vw;
  color: var(--darkblue-color);
  font-family: var(--headings-font);
  font-weight: var(--semibold-font);
}

.home-description {
  font-size: 1.3vw;
  font-family: var(--text-font);
  width: 40vw;
}

#home-first-picture {
  width: 29vw;
  height: auto;
}

.home-wave-img {
  width: 100vw;
  height: 25vh;
}

.home-wave-mission-img {
  width: 100vw;
  height: 25vh;
}

/* Test Button Properties */
.primary-button {
  background-color: var(--lightblue-color);
  padding: 0.5vw 1.3vw;
  border-radius: 2vw;
  font-weight: var(--bold-font);
  font-size: 1.5vw;
  color: var(--darkblue-color);
  font-family: var(--text-font);
  border: none;
  text-decoration: none;
}

.primary-button:hover {
  background-color: var(--darkblue-color);
  color: var(--white-color);
}

#home-big-button {
  width: 12vw;
  font-size: 1.3vw;
}

#home-big-button:hover .home-big-btn-arrow {
  border: solid var(--white-color);
  border-width: 0 0.2vw 0.2vw 0;
}

.home-big-btn-arrow {
  border: solid var(--darkblue-color);
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.3vw;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Articles */

.home-articles {
  background-color: var(--midblue-color);
  width: 100vw;
  height: auto;
}

.home-articles-title {
  font-size: var(--title-size);
  margin-bottom: var(--mb-1);
  color: var(--white-color);
  font-family: var(--headings-font);
  font-weight: var(--regular-font);
  text-align: center;
}

.home-articles-cards {
  display: flex;
  gap: 7vw;
  justify-content: center;
  margin-top: 3vw;
}

.home-card {
  width: 25vw;
  height: 28vw;
  border-radius: 1vw;
  box-shadow: 0 4px 8px 0 #00000033;
  background-color: var(--white-color);
}

.home-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.home-articles-lightbulb {
  width: 3vw;
  height: auto;
  margin-left: 1vw;
  margin-top: 1vw;
}

.home-card-title {
  font-size: 1.3vw;
  font-family: var(--headings-font);
  width: 20vw;
  height: auto;
  margin-top: 1.2vw;
  margin-left: 2vw;
}

.home-card-description {
  width: 21vw;
  height: auto;
  font-size: 1vw;
  font-family: var(--text-font);
  margin-top: 1vw;
  margin-left: 2vw;
}

.home-card-read-more-button {
  text-decoration: none;
  font-family: var(--text-font);
  font-weight: 700;
  color: var(--darkblue-color);
  font-size: 1.3vw;
  white-space: nowrap;
  margin-left: 2vw;
  margin-bottom: 1vw;
  align-self: flex-end;
  position: absolute;
}

#home-articles-arrow {
  border-width: 0 0.2vw 0.2vw 0;
  padding: 0.3vw;
}

.home-articles-blob {
  position: relative;
  display: flex;
  width: 19vw;
  height: 13.3vw;
  transform: translateY(1.35vw);
  align-self: flex-end;
}

.home-articles-button-vector {
  display: flex;
}

.home-articles-vector-images {
  width: 6vw;
  height: 12vw;
  transform: translate(-1.2vw, 2.5vw);
}

#home-articles-card3-image {
  transform: translate(-0.5vw, 2.5vw);
}

/* Our Mission */

.home-our-mission {
  width: 100vw;
  height: auto;
}

.home-mission-title {
  font-size: var(--title-size);
  font-family: var(--headings-font);
  font-weight: var(--regular-font);
  text-align: center;
  color: var(--darkblue-color);
  background-color: var(--white-color);
}

.home-mission-container {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  justify-content: center;
}

.home-mission-img {
  width: 42.5vw;
  transform: translate(-8vw, -2vw);
}

.home-mission-description {
  font-family: var(--text-font);
  color: var(--darkblue-color);
  font-size: 1.3vw;
  width: 43vw;
}

.home-second-wave-mission-img {
  width: 100vw;
  height: 25vh;
  background-color: var(--white-color);
}

/* Features */

.home-features {
  background-color: var(--darkblue-color);
  width: 100vw;
}

.home-features-title {
  font-size: var(--title-size);
  font-family: var(--headings-font);
  font-weight: var(--regular-font);
  color: var(--white-color);
  background-color: var(--darkblue-color);
  padding-top: 5vh;
  text-align: center;
}

.home-features-container {
  padding: 5vw 0 0vw;
  display: flex;
  align-items: center;
  padding-bottom: 5vw;
  justify-content: space-evenly;
  position: relative;
  text-align: center;
}

.home-features-headers {
  font-size: 1.5vw;
  font-family: var(--headings-font);
  font-weight: var(--regular-font);
  color: var(--white-color);
}

.home-features-images {
  width: 7vw;
}

.home-features-description {
  padding-top: 2.5vh;
}

.home-features-description3 {
  padding-top: 2.5vh;
}

.home-features-text {
  padding-top: 2vh;
  font-size: 1.3vw;
  width: 30vw;
  font-family: var(--text-font);
  color: var(--white-color);
  text-align: center;
}

/* Footer */

.home-footer-pavemind {
  background-color: var(--white-color);
}

.home-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#home-footer-logo {
  width: 7vw;
  height: auto;
}

.home-footer-title {
  font-size: var(--title-size);
  color: var(--darkblue-color);
  font-family: var(--headings-font);
  font-weight: var(--semibold-font);
  width: 32vw;
  height: auto;
}

.home-footer-description {
  font-size: 1.2vw;
  font-family: var(--text-font);
  width: 37vw;
  margin: 1vw 0vw 1.5vw;
}

.home-footer-btn-media {
  display: flex;
  gap: 0.5vw;
}

.home-btnfooter-contact {
  background-size: 2vw;
  background-repeat: no-repeat;
  width: 2vw;
  height: 2vw;
}

#home-btnfacebook {
  background-image: url("./Assets/images/facebook-round-line-icon.svg");
}

#home-btninstagram {
  background-image: url("./Assets/images/instagram-round-line-icon.svg");
}

#home-btnemail {
  background-image: url("./Assets/images/Group\ 81.svg");
}

#home-footer-picture.home-footer-img {
  width: 25vw;
  height: auto;
}

.home-footer-navigation-text {
  color: var(--darkblue-color);
}

.home-footer-quote {
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100vw;
  height: auto;
  text-align: center;
  color: var(--white-color);
  background-color: var(--darkblue-color);
}

.home-footer-quote-text {
  font-family: var(--text-font);
  font-size: 2.2vw;
}

.home-footer-data {
  justify-content: center;
  align-items: center;
}

/* Navigation */

.home-footer-navigation-main {
  margin-top: 1vw;
  display: flex;
  font-family: var(--text-font);
  color: var(--darkblue-color);
  transition: transform 0.5s ease;
}

.home-footer-list {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 0.9vw;
}

.home-footer-navbar-text a {
  color: var(--darkblue-color);
  text-decoration: none;
  font-weight: 500;
}

.home-footer-container ul {
  transition: transform 0.5s ease;
}

.home-footer-list ul:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.home-wave-footer-img {
  width: 100vw;
  height: auto;
}
