@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&family=Patua+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }

  body{
    background-color: bisque;
  }

  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup{
    background-color: white;
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding-top: 10vh;
    padding-bottom: 8vh;
    gap: 3vw;
    z-index: 1;
    scale: 0;
    transition: 200ms ease-in-out;
  }

  .popup.active{
    scale: 1;
  }

  .right{
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
    align-items: center;
  }

  .right h1{
    font-family: Patua One;
    color: #687DAC;
    padding-bottom: 1vh;
  }

  .right p{
    font-family: Maven Pro;
    padding-bottom: 2vh;
  }

  .right input{
    margin-top: 5px;
      display: block;
      width: 100%;
      padding: 1.2vh;
      outline: none;
      box-shadow: 1px 1px 5px 1px #D2E0EE;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 25px;
      margin-bottom: 30px;
  }

  .right a{
    text-decoration: none;
    font-family: Maven Pro;
    color: #687DAC;
    font-weight: 600;
  }

  .right button{
    background-color: #D2E0EE;
    display: block;
    color: #687DAC;
    font-family: Maven Pro;
    font-weight: 600;
    padding: 8px 40px;
    border-radius: 15px;
    transition: 0.4s;
    cursor: pointer;
    border: none;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 1vh;
  }

  .right button:hover{
    background-color: #697DAC;
    color: white;
  }

  .right .text{
    padding-top: 2vh;
    display: flex;
  }

  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .left h1{
    font-family: Patua One;
    color: #687DAC;
    padding-bottom: 3vh;
  }

  .left p{
    font-family: Maven Pro;
  }

 #overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  transition: 200ms ease-in-out;
 }

 #overlay.active {
  pointer-events: all;
  opacity: 1;
 }

 .popup .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  top: 0.5vw;
  right: 1vw;
  position: absolute;
 }