* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--white-color);
}

:root {
  /* Color variables */
  --black-color: #000000;
  --white-color: #fbfbfb;
  --darkblue-color: #687dac;
  --lightblue-color: #d2e0ee;
  --midblue-color: #9eb0ce;
  --darkblue-color: #687dac;
  --sand-color: #f0d7ba;
  --grey-color: #757575;

  /* Font variables */
  --headings-font: "Patua One", cursive;
  --text-font: "Maven Pro", sans-serif;

  /* Size variables */
  --navigationtext-size: 1.1vw;
  --bold-font: 600;
  --title-size: 2.5vw;
  --regular-font: 100;
}

/* NAVIGATION BAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  font-size: var(--navigationtext-size);
  font-family: var(--text-font);
  font-weight: var(--bold-font);
  overflow: hidden;
  padding-block: 0.3vw;
}

.navigation-menu {
  font-size: var(--navigationtext-size);
  margin-left: 2.5vw;
}

.navigation-menu ul {
  display: flex;
  align-items: center;
}

.navigation-menu li {
  list-style: none;
  transition: transform 0.5s ease;
}

.navigation-menu li a {
  display: block;
  text-decoration: none;
  color: var(--darkblue-color);
  padding: 0 1vw;
}

.navigation-menu img {
  height: 3vw;
}

.navigation-login ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-login li {
  list-style: none;
  transition: transform 0.5s ease;
}

.navigation-login li a {
  display: block;
  text-decoration: none;
  color: var(--darkblue-color);
  padding: 0 1vw;
  margin-right: 2.5vw;
}

nav ul li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* BUTTON PROPERTIES */
.primary-button {
  background-color: var(--lightblue-color);
  padding: 0.4vw 1vw;
  border-radius: 2vw;
  font-weight: 100;
  color: var(--darkblue-color);
  font-family: var(--text-font);
  font-weight: var(--bold-font);
  border: none;
  text-decoration: none;
}

.primary-button:hover {
  background-color: var(--darkblue-color);
  color: var(--white-color);
}

.secondary-button {
  color: var(--grey-color);
  border-radius: 2vw;
  text-decoration: none;
  font-family: var(--text-font);
  font-size: 1vw;
}

/* TITLE + SEARCHBAR + FILTERS*/
#articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 35vh;
}

#articles-title {
  text-align: center;
  font-family: var(--headings-font);
  color: var(--darkblue-color);
  font-size: var(--title-size);
  margin-top: 10vh;
}

.searchfilter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 4vw;
}

.search-box {
  width: 90%;
  position: relative;
  display: flex;
}

#search-input {
  width: 100%;
  padding-left: 1vw;
  border: 0.1vw solid var(--darkblue-color);
  border-radius: 17px 0 0 17px;
  border-right: none;
  outline: none;
  font-size: 1vw;
  color: var(--black-color);
  background: none;
}

.search-button {
  text-align: center;
  height: 4vh;
  width: 2vw;
  outline: none;
  cursor: pointer;
  border: 0.1vw solid var(--darkblue-color);
  border-radius: 0 17px 17px 0;
  border-left: none;
  background: none;
  font-size: 1vw;
  border-left: 0.1vw solid var(--darkblue-color);
  color: var(--darkblue-color);
}

.searchbar-container {
  width: 35%;
}

#articles-filter {
  font-weight: 500;
  width: 8vw;
  height: 4vh;
  border-radius: 17px;
  border: 0.1vw solid var(--darkblue-color);
  font-size: 1vw;
  padding-left: 0.5vw;
}

.articles-filter-item {
  padding: 5rem;
}

#articles-save {
  height: 3.5vh;
  margin-left: 1vw;
  cursor: pointer;
}

select {
  appearance: none;
  background-image: url(./Assets/Images/dropdown-arrow.svg);
  background-position: right 0.8vw top 50%;
  background-repeat: no-repeat;
  background-size: 0.7vw;
  outline: none;
}

#articles-filter input {
  border: none;
}

#articles-filter input:focus {
  outline: none;
}

/* BIG ARTICLE */
.articles-big {
  height: 56.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4vw;
  padding-block: 15vw;
}

.articles-big-photo img {
  height: 45vh;
  background-color: var(--midblue-color);
  width: 35vw;
  border-radius: 17px;
}

.articles-big-info {
  display: flex;
  flex-direction: column;
  width: 39vw;
  row-gap: 1vw;
}

.articles-big-info h4 {
  font-family: var(--text-font);
  font-weight: var(--regular-font);
  color: var(--grey-color);
  font-size: 1vw;
}

.articles-big-info h1 {
  font-family: var(--headings-font);
  font-size: 2.5vw;
  font-weight: var(--regular-font);
}

#articles-big-text {
  font-family: var(--text-font);
  font-size: 1vw;
}

#articles-big-button {
  width: 8.7vw;
  font-size: 1.1vw;
}

#articles-big-button:hover .articles-big-btn-arrow {
  border: solid var(--white-color);
  border-width: 0 0.2vw 0.2vw 0;
}

.articles-big-btn-arrow {
  border: solid var(--darkblue-color);
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.2vw;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ARTICLES LIST */
#articles-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 5rem;
  width: 90%;
  margin-inline: auto;
  justify-content: space-evenly;
  padding-block: 2vw;
}

.articles-card {
  cursor: pointer;
  width: 22vw;
  height: 55vh;
  border-radius: 17px;
  position: relative;
}

.articles-image-container {
  margin-inline: auto;
  width: 22vw;
  height: 30vh;
  position: relative;
}

.article-image {
  width: 100%;
  height: 100%;
  background-color: #e4eaf2;
  border-radius: 17px;
}

.article-save-button {
  position: absolute;
  width: 1.7vw;
  height: 3.5vh;
  top: 1vw;
  right: 1vw;
  background-color: transparent;
  z-index: 100;
  stroke-width: 0.11vw;
  fill: transparent;
}

.article-save-button:hover > path {
  fill: #687dac;
}

.articles-information {
  margin-top: 0.5vw;
  margin-left: 0.6vw;
}

.articles-date {
  color: #b5b5b5;
  font-size: 1vw;
  font-family: var(--text-font);
}

.articles-headline {
  font-size: 1.3vw;
  font-family: var(--headings-font);
  margin-top: 0.5vw;
}

.articles-preview {
  font-size: 1vw;
  font-family: var(--text-font);
  margin-top: 0.8vw;
  margin-bottom: 1.2vw;
}

#articles-small-button {
  width: 7.3vw;
  font-size: 0.9vw;
  position: absolute;
}

#articles-small-button:hover .articles-small-btn-arrow {
  border-color: var(--white-color);
}

.articles-small-btn-arrow {
  border: solid var(--darkblue-color);
  border-width: 0 0.14vw 0.14vw 0;
  display: inline-block;
  padding: 0.15vw;
  margin-left: 0.2vw;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* ARTICLE OPEN */
#article-body {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5vw;
  margin-top: 5vw;
}

#article-date {
  font-family: var(--text-font);
  color: var(--grey-color);
  font-size: 1vw;
}

#article-title {
  font-family: var(--headings-font);
  font-weight: var(--regular-font);
  font-size: 2.5vw;
}

#article-image {
  width: 55vw;
  height: 45vh;
  background-color: #e4eaf2;
  border-radius: 17px;
}

#article-boldInfo {
  font-family: var(--text-font);
  font-weight: var(--bold-font);
  font-size: 1.2vw;
  width: 46vw;
  line-height: 1.5vw;
}

#article-information {
  font-family: var(--text-font);
  font-size: 1.2vw;
  width: 46vw;
  line-height: 1.5vw;
}

#article-button-back {
  position: absolute;
  top: 9vw;
  left: 9.5vw;
}

.articles-arrow-back {
  border: solid var(--grey-color);
  border-width: 0 0.1vw 0.1vw 0;
  display: inline-block;
  padding: 0.3vw;
  transform: rotate(45deg);
  -webkit-transform: rotate(135deg);
}

/* TIPS & TRICKS */

.tips-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.5vw;
}

#tips-title {
  font-family: var(--headings-font);
  font-size: var(--title-size);
  color: var(--darkblue-color);
  margin-top: 10vh;
}

#tips-description {
  font-family: var(--text-font);
  font-size: 1.3vw;
  width: 35vw;
}

#tips-first-picture {
  width: 25vw;
}

.tips-tricks-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4vw;
  gap: 3vw;
}

.tips-tricks-title {
  font-size: 2vw;
  font-family: var(--headings-font);
  font-weight: var(--semibold-font);
  text-align: left;
}

.tips-tricks-description {
  font-size: 1.3vw;
  font-family: var(--text-font);
  width: 49vw;
  text-align: left;
}

.tips-read-more {
  text-decoration: none;
  font-family: var(--text-font);
  font-weight: var(--bold-font);
  color: var(--darkblue-color);
  font-size: 1.3vw;
  text-align: left;
  width: fit-content;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tips-big-btn-arrow {
  border: solid var(--darkblue-color);
  border-width: 0 0.3vw 0.3vw 0;
  display: inline-block;
  padding: 0.3vw;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#tips-articles-arrow {
  border-width: 0 0.2vw 0.2vw 0;
  padding: 0.3vw;
}

.tips-all-trick {
  gap: 1.5vw;
  display: flex;
  flex-direction: column;
}

.tips-footer-quote {
  padding: 1vw;
  width: 100vw;
  height: auto;
  text-align: center;
  color: var(--white-color);
  background-color: var(--darkblue-color);
  transform: translate(0vw, 12vw);
}

.tips-footer-quote-text {
  font-family: var(--text-font);
  font-size: 2.2vw;
}

/* Footer */

.home-footer-pavemind {
  background-color: var(--white-color);
}

.home-footer-container {
  display: flex;
  align-items: center;
  gap: 2.2vw;
  justify-content: center;
}

#home-footer-logo {
  width: 7vw;
  height: auto;
}

.home-footer-title {
  font-size: 2.7vw;
  color: var(--darkblue-color);
  font-family: var(--headings-font);
  font-weight: var(--semibold-font);
  width: 32vw;
  height: auto;
}

.home-footer-description {
  font-size: 1.2vw;
  font-family: var(--text-font);
  width: 37vw;
  margin: 1vw 0vw 1.5vw;
}

.home-footer-btn-media {
  display: flex;
  gap: 0.5vw;
}

.home-btnfooter-contact {
  background-size: 2vw;
  background-repeat: no-repeat;
  width: 2vw;
  height: 2vw;
}

#home-btnfacebook {
  background-image: url("./Assets/images/facebook-round-line-icon.svg");
}

#home-btninstagram {
  background-image: url("./Assets/images/instagram-round-line-icon.svg");
}

#home-btnemail {
  background-image: url("./Assets/images/Group\ 81.svg");
}

#home-footer-picture.home-footer-img {
  width: 25vw;
  height: auto;
}

.home-footer-navigation-text {
  color: var(--darkblue-color);
}

.home-footer-quote {
  padding-top: 1vw;
  padding-bottom: 1vw;
  width: 100vw;
  height: auto;
  text-align: center;
  color: var(--white-color);
  background-color: var(--darkblue-color);
}

.home-footer-quote-text {
  font-family: var(--text-font);
  font-size: 2.2vw;
}

.home-footer-data {
  justify-content: center;
  align-items: center;
}

.home-footer-navigation-main {
  margin-top: 1vw;
  display: flex;
  font-family: var(--text-font);
  color: var(--darkblue-color);
  transition: transform 0.5s ease;
}

.home-footer-list {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 0.9vw;
}

.home-footer-navbar-text a {
  color: var(--darkblue-color);
  text-decoration: none;
  font-weight: 500;
}

.home-footer-container ul {
  transition: transform 0.5s ease;
}

.home-footer-list ul:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.home-wave-footer-img {
  width: 100vw;
  height: auto;
}

.whole-footer {
  transform: translate(0vw, 10vw);
}

/* Diary first page */

.diary-first-container {
  height: 83.4vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.diary-first-question-field {
  display: flex;
  padding: 1vh;
  font-size: 1.2vw;
  font-family: var(--text-font);
  width: 70vw;
  height: 8vh;
  justify-content: space-between;
  padding-right: 2.2vw;
}

#diary-first-blue-field {
  background-color: var(--lightblue-color);
  border-radius: 17px;
}
.diary-first-text-field {
  display: flex;
  align-items: center;
  width: 24vw;
  white-space: nowrap;
}

.diary-title {
  font-family: var(--headings-font);
  font-size: var(--title-size);
  color: var(--darkblue-color);
  margin-top: 10vh;
  padding-bottom: 4vh;
}
@media only screen and (max-width: 768px) {
  .diary-title {
    font-size: 4vw;
  }
  .diary-first-question-field {
    height: 6vh;
    width: 85vw;
  }
  .diary-first-text-field {
    font-size: 1.8vw;
    width: 40vw;
    white-space: normal;
  }
  .diary-first-question-field input[type="radio"] {
    width: 2.6vw;
  }
  .diary-first-container .diary-first-buttons {
    width: 83vw;
  }
  .diary-first-buttons .diary-next-question-button {
    font-size: 2vw;
  }
  .diary-first-content .diary-first-label {
    width: 85vw;
    justify-content: right;
    padding-right: 4.9vw;
  }
  .diary-first-container .diary-first-label ul {
    gap: 3.8vw;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .diary-first-container #diary-first-category {
    width: 6vw;
  }
  .diary-first-container #diary-fift-category {
    width: 5vw;
  }
}

@media only screen and (max-width: 600px) {
  .diary-first-question-field {
    height: 6vh;
    width: 85vw;
  }
  .diary-first-text-field {
    font-size: 2.4vw;
    width: 40vw;
    white-space: normal;
  }
  .diary-first-question-field input[type="radio"] {
    width: 3vw;
  }
  .diary-first-container .diary-first-buttons {
    width: 83vw;
  }
  .diary-first-buttons .diary-next-question-button {
    font-size: 3vw;
  }
  .diary-first-content .diary-first-label {
    width: 85vw;
    justify-content: right;
    padding-right: 5.4vw;
  }
  .diary-first-container .diary-first-label ul {
    gap: 2.4vw;
    align-items: center;
    display: flex;
    text-align: center;
  }
  .diary-first-container .diary-first-label ul li {
    font-size: 1.4vw;
  }
  .diary-first-container #diary-first-category {
    width: 6vw;
  }
  .diary-first-container #diary-fift-category {
    width: 5vw;
  }
}
@media only screen and (max-width: 460px) {
  .diary-first-question-field {
    height: 4.5vh;
    width: 85vw;
  }
}
.diary-first-container a {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--darkblue-color);
  font-weight: 600;
  padding-top: 1vh;
}
.diary-first-radiobuttons-only {
  align-items: center;
  display: flex;
  gap: 6vw;
}
input[type="radio"] {
  border: none;
  width: 1.7vw;
}
.diary-first-radiobuttons {
  display: flex;
  gap: 9vw;
}
.diary-first-label {
  width: 70vw;
  display: flex;
  justify-content: left;
  flex-direction: row;
  padding-bottom: 1vw;
  padding-left: 25vw;
}

.diary-first-label ul {
  display: flex;
  gap: 3vw;
  transform: translateX(4vw);
}

.diary-first-label ul li {
  list-style: none;
  font-family: var(--text-font);
  display: inline;
  font-size: 1.1vw;
}

/* Diary first button properties */

.diary-next-question-button {
  text-decoration: none;
  font-family: var(--text-font);
  font-weight: 800;
  color: var(--darkblue-color);
  font-size: 1.3vw;
  white-space: nowrap;
  margin-left: 2vw;
  margin-bottom: 1vw;
}

#diary-button-arrow {
  border-width: 0 0.2vw 0.2vw 0;
  padding: 0.3vw;
}

.diary-first-buttons {
  width: 70vw;
  display: flex;
  justify-content: right;
}

.diary-next-question-arrow {
  border: solid var(--darkblue-color);
  border-width: 0 0.3vw 0.3vw 0;
  display: inline-block;
  padding: 0.3vw;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Diary second page */
@media only screen and (max-width: 768px) {
  .diary-second-container .diary-second-description {
    font-size: 2.5vw;
  }
  .diary-second-container .diary-second-textarea {
    width: 80vw;
    height: 50vw;
    border-radius: 1.3vw;
    font-size: 2vw;
  }
  .diary-second-container ::placeholder {
    font-size: 2.7vw;
  }
  .diary-second-buttons {
    width: 79vw;
    justify-content: space-between;
  }
  .diary-second-buttons .diary-quiz-button {
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 600px) {
  .diary-second-container .diary-second-description {
    font-size: 3vw;
  }
  .diary-second-container .diary-second-textarea {
    width: 77vw;
    height: 50vw;
    border-radius: 1.3vw;
    font-size: 2vw;
  }
  .diary-second-container ::placeholder {
    font-size: 3.1vw;
  }
  .diary-second-buttons {
    width: 76vw;
    justify-content: space-between;
  }
  .diary-second-buttons .diary-quiz-button {
    font-size: 3.2vw;
  }
}
@media only screen and (max-width: 460px) {
  .diary-second-container .diary-second-description {
    font-size: 4.4vw;
  }
  .diary-second-container .diary-second-textarea {
    width: 80vw;
    height: 53vw;
    border-radius: 1.5vw;
    font-size: 4vw;
  }
  .diary-second-container ::placeholder {
    font-size: 3.5vw;
  }
  .diary-second-buttons {
    width: 79vw;
    justify-content: space-between;
  }
  .diary-second-buttons .diary-quiz-button {
    font-size: 3.8vw;
  }
}
.diary-second-container {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::placeholder {
  font-size: 1.3vw;
}

.diary-second-description {
  font-family: var(--text-font);
  font-weight: var(--semibold-font);
  margin-bottom: 1.5vw;
  font-size: 1.5vw;
}
.diary-second-textarea {
  font-family: var(--text-font);
  resize: none;
  border: 0.1vw solid var(--darkblue-color);
  padding: 1.2vw 1.2vw;
  width: 35vw;
  height: 20vw;
  border-radius: 0.5vw;
  background-color: white;
  font-size: 1.3vw;
}

.diary-quiz-button {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--darkblue-color);
  font-weight: 600;
  font-size: 1.2vw;
  position: relative;
  z-index: 2;
}

.diary-second-container .diary-second-buttons {
  display: flex;
  gap: 13.6vw;
  margin-top: 1.5vw;
}
.diary-second-textarea:focus {
  outline: 0;
}

.diary-wave-img {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

/* Diary second button properties */

.diary-second-btn-arrow {
  border: solid var(--darkblue-color);
  display: inline-block;
  padding: 0.3vw;
  border-width: 0 0.2vw 0.2vw 0;
  position: relative;
}

#diary-second-arrow-previous {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#diary-second-arrow-finish {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Diary third page */
@media only screen and (max-width: 768px) {
  .diary-third-container .diary-third-text {
    font-size: 2.5vw;
  }
  .diary-third-container .diary-third-box {
    width: 85vw;
    height: 55vw;
    border-radius: 1.5vw;
  }
  .diary-third-container .diary-third-buttons {
    width: 84vw;
    justify-content: space-between;
  }
  .diary-third-buttons .diary-third-quiz-button {
    font-size: 2.5vw;
    white-space: nowrap;
  }
  .diary-third-box .diary-third-smile-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 15vw;
  }
  .diary-third-box .diary-third-smile-container img {
    width: 8vw;
    height: 8vw;
  }
  .diary-third-box .diary-third-smile-container p {
    font-size: 2.5vw;
    width: 12vw;
  }
}
@media only screen and (max-width: 600px) {
  .diary-title {
    font-size: clamp(1.6rem, 1.2rem, 3rem);
  }
  .diary-third-container .diary-third-box {
    width: 85vw;
    height: 55vw;
  }
  .diary-third-box .diary-third-smile-container {
    width: 15vw;
  }
  .diary-third-container .diary-third-buttons {
    width: 83vw;
  }
  .diary-third-buttons .diary-third-quiz-button {
    font-size: 3.5vw;
  }
  .diary-third-box .diary-third-smile-container img {
    width: 10vw;
    height: 10vw;
  }
  .diary-third-box .diary-third-smile-container p {
    font-size: 2.5vw;
    width: 15vw;
  }
}
@media only screen and (max-width: 460px) {
  .diary-third-box .diary-third-smile-container {
    width: 25vw;
  }
  .diary-third-container .diary-third-text {
    font-size: 3.8vw;
  }
  .diary-third-container .diary-third-buttons {
    width: 84vw;
  }
  .diary-third-buttons .diary-third-quiz-button {
    font-size: 4.8vw;
  }
  .diary-third-box .diary-third-smile-container img {
    width: 12vw;
    height: 12vw;
  }
  .diary-third-box .diary-third-smile-container p {
    font-size: 3vw;
    width: 15vw;
  }
}
.diary-third-container {
  height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1.05vw;
}

.diary-third-header {
  font-family: var(--headings-font);
  color: var(--darkblue-color);
  font-size: 3vw;
  margin-bottom: 1vw;
}

.diary-third-text {
  font-family: var(--text-font);
  font-weight: var(--semibold-font);
  margin-bottom: 1.5vw;
  font-size: 1.5vw;
}

.diary-third-box {
  display: flex;
  width: 35vw;
  height: 20vw;
  flex-direction: row;
  border: 0.1vw solid var(--darkblue-color);
  border-radius: 0.5vw;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: white;
}

.diary-third-image {
  width: 3.2vw;
  height: 3.2vw;
}

.diary-third-category-text {
  font-family: var(--text-font);
  font-size: 1vw;
}

.diary-third-buttons {
  width: 35vw;
  margin-top: 1.5vw;
  display: flex;
  justify-content: center;
  gap: 15.5vw;
}

.diary-third-smile-container {
  width: 7vw;
  height: 7vw;
}

.diary-third-quiz-button {
  text-decoration: none;
  font-family: var(--text-font);
  color: var(--darkblue-color);
  font-weight: 600;
  font-size: 1.2vw;
  position: relative;
  z-index: 2;
}

.diary-third-btn-arrow {
  border: solid var(--darkblue-color);
  display: inline-block;
  padding: 0.3vw;
  border-width: 0 0.2vw 0.2vw 0;
}

#diary-third-arrow-previous {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#diary-third-arrow-finish {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Diary fourth page */
@media only screen and (max-width: 768px) {
  .diary-fourth-container .diary-fourth-box {
    width: 83vw;
    height: 42vw;
    border-radius: 1.5vw;
  }
  .diary-fourth-container .diary-fourth-buttons {
    width: 84vw;
    justify-content: right;
  }
  .diary-fourth-box #diary-fourth-conclusion {
    font-size: 3vw;
    width: 55vw;
  }
  .diary-fourth-container .diary-fourth-box p {
    font-size: 3vw;
    width: 60vw;
  }
  .diary-fourth-container #diary-big-button {
    width: 14vw;
    height: 5vw;
    font-size: 2.2vw;
    border-radius: 5vw;
    margin-top: 2vw;
  }
}
@media only screen and (max-width: 600px) {
  .diary-fourth-container .diary-fourth-box {
    width: 80vw;
    height: 48vw;
  }
  .diary-fourth-container .diary-fourth-buttons {
    width: 79vw;
  }
  .diary-fourth-box #diary-fourth-conclusion {
    font-size: 3vw;
    width: 70vw;
  }
  .diary-fourth-container .diary-fourth-box p {
    font-size: 3vw;
    width: 65vw;
  }
  .diary-fourth-container #diary-big-button {
    margin-top: 2vw;
    width: 15vw;
    height: 5vw;
    font-size: 2.6vw;
    border-radius: 5.5vw;
  }
}
@media only screen and (max-width: 460px) {
  .diary-title {
    font-size: 5.5vw;
  }
  .diary-fourth-container .diary-fourth-box {
    width: 80vw;
    height: 40vw;
  }
  .diary-fourth-container .diary-fourth-buttons {
    width: 80vw;
  }
  .diary-fourth-box #diary-fourth-conclusion {
    font-size: 3.3vw;
    width: 70vw;
  }
  .diary-fourth-container .diary-fourth-box p {
    font-size: 3.3vw;
    width: 70vw;
  }
  .diary-fourth-container #diary-big-button {
    margin-top: 2.5vw;
    width: 18vw;
    height: 8vw;
    font-size: 3.3vw;
  }
}
.diary-fourth-container {
  height: 70.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5vw;
}

.diary-fourth-container h1 {
  font-family: var(--headings-font);
  color: var(--darkblue-color);
  font-size: 3vw;
  margin-bottom: 4.5vw;
}

.diary-fourth-box {
  margin-top: 6.2vh;
  border: 0.1vw solid var(--darkblue-color);
  background-color: white;
  border-radius: 0.5vw;
  padding: 3vw 2.5vw 4vw 2.5vw;
  width: 35vw;
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.diary-fourth-box p {
  font-family: var(--text-font);
  font-size: 1.3vw;
}

#diary-fourth-conclusion {
  width: 22vw;
}
#diary-fourth-hyperlink {
  text-decoration: none;
  color: var(--darkblue-color);
  font-weight: 600;
}
/*Diary fourth button properties*/

.diary-fourth-button {
  background-color: var(--lightblue-color);
  border-radius: 2vw;
  font-weight: var(--bold-font);
  color: var(--darkblue-color);
  font-family: var(--text-font);
  border: none;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.diary-fourth-button:hover {
  background-color: var(--darkblue-color);
  color: var(--white-color);
}

#diary-big-button {
  width: 7.3vw;
  height: 2vw;
  font-size: 0.9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3vw;
}

#diary-big-button:hover .diary-fourth-button-arrow {
  border: solid var(--white-color);
  border-width: 0 0.14vw 0.14vw 0;
  background-color: var(--darkblue-color);
}

.diary-fourth-button-arrow {
  border: solid var(--darkblue-color);
  border-width: 0 0.14vw 0.14vw 0;
  display: inline-block;
  padding: 0.15vw;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.diary-fourth-buttons {
  width: 35vw;
  display: flex;
  justify-content: right;
  padding-top: 1.2vw;
}

/* Diary fifth page */
@media only screen and (max-width: 768px) {
  .diary-fifth-main .diary-fifth-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .diary-fifth-container #diary-fifth-graph-img {
    height: 20vw;
  }
}
.diary-fifth-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 68vh;
}
#diary-fifth-title {
  padding-bottom: 3.95vw;
}
.diary-fifth-container {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.diary-calendar-wrapper {
  width: 20vw;
  display: flex;
  flex-direction: column;
  border-radius: 0.65vw;
  font-family: var(--text-font);
  align-items: center;
}

.diary-calendar-wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20vw;
  height: 4vh;
}

header .diary-fifth-calendar-header {
  display: flex;
  background-color: var(--lightblue-color);
  align-items: center;
  width: 22vw;
  justify-content: space-between;
}
header {
  background-color: var(--lightblue-color);
  border-radius: 0.4vw 0.4vw 0 0;
  width: 22vw;
  height: 4vh;
}

header .diary-fifth-current-date {
  font-size: 1.1vw;
  font-weight: 500;
  white-space: nowrap;
}
.diary-fifth-calendar {
  background-color: var(--white-color);
  width: 21vw;
}
.diary-fifth-calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  margin-top: 0.7vw;
}
.diary-fifth-calendar .days {
  margin-bottom: 1.3vw;
}
.diary-fifth-calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 0.8vw;
}
.diary-fifth-calendar .diary-weeks li {
  font-weight: 500;
  cursor: default;
}
.diary-weeks {
  padding-top: 1vw;
}
.diary-fifth-calendar .diary-fifth-days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 1.4vw;
  width: 3vw;
}
.diary-fifth-days li.inactive {
  color: #aaa;
}
.diary-fifth-days li.active {
  color: black;
}
.diary-fifth-days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 2.6vw;
  width: 2.6vw;
  z-index: -1;
  border-radius: 0.5vw;
  transform: translate(-50%, -50%);
}
.diary-fifth-days li.active::before {
  background-color: #fe1f20;
}
.diary-fifth-days li:not(.active):hover::before {
  background: #f2f2f2;
}

/* Diary fifth button properties */

.diary-fifth-calendar-arrow {
  border: solid black;
  display: inline-block;
  padding: 0.25vw;
  border-width: 0 0.1vw 0.1vw 0;
  margin-left: 1vw;
  margin-right: 1vw;
  cursor: pointer;
}

#diary-fifth-calendar-previous {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#diary-fifth-calendar-next {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#diary-fifth-graph-img {
  width: 39vw;
  height: 39vh;
}

.diary-fifth-wave {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

#diary-fifth-filter {
  font-family: var(--text-font);
  width: 8vw;
  height: 4vh;
  border-radius: 17px;
  border: 0.1vw solid var(--darkblue-color);
  font-size: 0.9vw;
  padding-left: 0.5vw;
  align-items: center;
  background-color: var(--white-color);
}

#diary-fifth-filter input {
  border: none;
}

#diary-fifth-filter input:focus {
  outline: none;
}

.diary-fifth-calendar-faces {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 0.8vw;
  font-size: 0.65vw;
  font-family: var(--text-font);
  padding-top: 1vw;
}

.diary-fifth-image {
  width: 1.7vw;
  height: 1.7vw;
}

.diary-fifth-calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diary-fifth-big-box{
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px){
  #diary-fifth-title{
    padding-bottom: 2vw;
  }
  .diary-fifth-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .diary-fifth-calendar-container{
    align-items: center;
  }
  .diary-fifth-big-box{
    display: flex;
    flex-direction: column;
  }
  #diary-fifth-graph-img{
    width: 40vw;
    height: 30vw; 
    margin-top: 1vw;
  }
  .diary-fifth-image{
    width: 4vw;
    height: 4vw;
  }
    .diary-fifth-category-text{ 
  font-size: 1.5vw;
  }
  .diary-fifth-calendar-wrapper header{
   width: 200vw;
  }
#diary-fifth-filter{
  width: 12vw;
  font-size: 2vw;
}
.diary-fifth-main{
  height: 75vw;
}
.diary-fifth-calendar-faces{
  gap: 2vw;
  margin-top: 1vw;
}
header .diary-fifth-current-date{
  font-size: 2vw;
}
.diary-calendar-wrapper header {
  width: 35vw;
}
.diary-calendar-wrapper header .diary-fifth-calendar-header{
  width: 35vw;
}
.diary-fifth-weeks{
  width: 35vw;
}
.diary-fifth-weeks li{
  font-size: 2vw;
}
.diary-fifth-days{
  width: 35vw;
  margin-left: 1.5vw;
}
.diary-fifth-days li{
  font-size: 2vw;
  margin-left: 1vw;
}
.diary-fifth-calendar{
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.diary-calendar-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}

@media only screen and (max-width: 600px){
  #diary-fifth-title{
    padding-top: 4vw;
    padding-bottom: 4vw;
  }
  .diary-fifth-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .diary-fifth-calendar-container{
    align-items: center;
  }
  .diary-fifth-big-box{
    display: flex;
    flex-direction: column;
  }
  #diary-fifth-graph-img{
    width: 50vw;
    height: 30vw; 
    margin-top: 3vw;
  }
  .diary-fifth-image{
    width: 5vw;
    height: 5vw;
  }
    .diary-fifth-category-text{ 
  font-size: 1.5vw;
  }
  .diary-fifth-calendar-wrapper header{
   width: 200vw;
  }
#diary-fifth-filter{
  width: 12vw;
  font-size: 2vw;
}
.diary-fifth-main{
  height: 90vw;
}
.diary-fifth-calendar-faces{
  gap: 2vw;
  margin-top: 2vw;
}
header .diary-fifth-current-date{
  font-size: 2vw;
}
.diary-calendar-wrapper header {
  width: 35vw;
}
.diary-calendar-wrapper header .diary-fifth-calendar-header{
  width: 35vw;
}
.diary-fifth-weeks{
  width: 35vw;
}
.diary-fifth-weeks li{
  font-size: 2vw;
}
.diary-fifth-days{
  width: 35vw;
  margin-left: 1.5vw;
}
.diary-fifth-days li{
  font-size: 2vw;
  margin-left: 1vw;
}
.diary-fifth-calendar{
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.diary-calendar-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}

@media only screen and (max-width: 460px){
  #diary-fifth-title{
    padding-top: 4vw;
    font-size: 4vw;
    padding-bottom: 4vw;
  }
  .diary-fifth-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .diary-fifth-calendar-container{
    align-items: center;
  }
  .diary-fifth-big-box{
    display: flex;
    flex-direction: column;
  }
  #diary-fifth-graph-img{
    width: 70vw;
    height: 40vw; 
    margin-top: 3vw;
  }
  .diary-fifth-image{
    width: 7vw;
    height: 7vw;
  }
    .diary-fifth-category-text{ 
  font-size: 2vw;
  }
  .diary-fifth-calendar-wrapper header{
   width: 200vw;
  }
#diary-fifth-filter{
  width: 15vw;
  font-size: 2vw;
}
.diary-fifth-main{
  height: 90vw;
}
.diary-fifth-calendar-faces{
  gap: 2vw;
  margin-top: 3vw;
}
header .diary-fifth-current-date{
  font-size: 2vw;
}
.diary-calendar-wrapper header {
  width: 40vw;
}
.diary-calendar-wrapper header .diary-fifth-calendar-header{
  width: 40vw;
}
.diary-fifth-weeks{
  width: 40vw;
  justify-content: center;
}
.diary-fifth-weeks li{
  font-size: 2vw;
  justify-content: center;
}
.diary-fifth-days{
  width: 40vw;
  margin-left: 1.5vw;
}
.diary-fifth-days li{
  font-size: 2vw;
  margin-left: 1vw;
}
.diary-fifth-calendar{
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.diary-calendar-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}